In [1]:
# Import required libraies 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set_style("dark")

In [2]:
# Import dataset into pandas dataframe 
df = pd.read_csv('https://raw.githubusercontent.com/ahmedmeshref/Malaria-in-Africa-Analysis/main/DatasetAfricaMalaria.csv')

## Data Exploration

In [3]:
# Show first 5 rows in df 
pd.set_option('display.max_columns', None)
df.head(5)

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)","People using safely managed drinking water services, urban (% of urban population)",People using safely managed sanitation services (% of population),"People using safely managed sanitation services, rural (% of rural population)","People using safely managed sanitation services, urban (% of urban population)",Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,NaN,NaN,NaN,NaN,NaN,NaN,18.24,19.96,17.33,34.65,-0.60,65.35,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,18.0,29.8,1.5,NaN,NaN,NaN,NaN,NaN,NaN,42.48,1.91,57.52,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.44,1.99,41.56,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,NaN,NaN,NaN,NaN,NaN,83.96,NaN,NaN,NaN,42.07,-1.44,57.93,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.00,2.16,23.00,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)

In [4]:
# Print all African countries in the dataset
afr_countries = df['Country Name'].unique()
print(f'Number of countries: {len(afr_countries)}')
print(f'Countries: {afr_countries}')

Number of countries: 54
Countries: ['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi'
 'Cabo Verde' 'Cameroon' 'Central African Republic' 'Chad' 'Comoros'
 'Congo, Dem. Rep.' 'Congo, Rep.' "Cote d'Ivoire" 'Djibouti'
 'Egypt, Arab Rep.' 'Equatorial Guinea' 'Eritrea' 'Eswatini' 'Ethiopia'
 'Gabon' 'Gambia, The' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Libya' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius'
 'Morocco' 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda'
 'Sao Tome and Principe' 'Senegal' 'Seychelles' 'Sierra Leone' 'Somalia'
 'South Africa' 'South Sudan' 'Sudan' 'Tanzania' 'Togo' 'Tunisia' 'Uganda'
 'Zambia' 'Zimbabwe']

In [5]:
# Print all columns 
cols = df.columns
for ind in range(len(cols)):
    print(f'{ind+1}- {cols[ind]}')

1- Country Name
2- Year
3- Country Code
4- Incidence of malaria (per 1,000 population at risk)
5- Malaria cases reported
6- Use of insecticide-treated bed nets (% of under-5 population)
7- Children with fever receiving antimalarial drugs (% of children under age 5 with fever)
8- Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)
9- People using safely managed drinking water services (% of population)
10- People using safely managed drinking water services, rural (% of rural population)
11- People using safely managed drinking water services, urban (% of urban population)
12- People using safely managed sanitation services (% of population)
13- People using safely managed sanitation services, rural (% of rural population)
14- People using safely managed sanitation services, urban  (% of urban population)
15- Rural population (% of total population)
16- Rural population growth (annual %)
17- Urban population (% of total population)
18- Urban population growth (annual %)
19- People using at least basic drinking water services (% of population)
20- People using at least basic drinking water services, rural (% of rural population)
21- People using at least basic drinking water services, urban (% of urban population)
22- People using at least basic sanitation services (% of population)
23- People using at least basic sanitation services, rural (% of rural population)
24- People using at least basic sanitation services, urban  (% of urban population)
25- latitude
26- longitude
27- geometry

In [6]:
# Shape of the data 
print(f'Number of rows = {df.shape[0]}\nNumber of cols = {df.shape[1]}')

Number of rows = 594
Number of cols = 27

In [7]:
# Dataset insights  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 27 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Country Name                                                                             594 non-null    object
 1   Year                                                                                     594 non-null    int64
 2   Country Code                                                                             594 non-null    object
 3   Incidence of malaria (per 1,000 population at risk)                                      550 non-null    float64
 4   Malaria cases reported                                                                   550 non-null    float64
 5   Use of insecticide-treated bed nets (% of under-5 population)                            132 non-null    float64
 6   Children with fever receiving antimalarial drugs (% of children under age 5 with fever)  122 non-null    float64
 7   Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)    106 non-null    float64
 8   People using safely managed drinking water services (% of population)                    99 non-null     float64
 9   People using safely managed drinking water services, rural (% of rural population)       88 non-null     float64
 10  People using safely managed drinking water services, urban (% of urban population)       176 non-null    float64
 11  People using safely managed sanitation services (% of population)                        132 non-null    float64
 12  People using safely managed sanitation services, rural (% of rural population)           110 non-null    float64
 13  People using safely managed sanitation services, urban  (% of urban population)          132 non-null    float64
 14  Rural population (% of total population)                                                 588 non-null    float64
 15  Rural population growth (annual %)                                                       588 non-null    float64
 16  Urban population (% of total population)                                                 588 non-null    float64
 17  Urban population growth (annual %)                                                       588 non-null    float64
 18  People using at least basic drinking water services (% of population)                    588 non-null    float64
 19  People using at least basic drinking water services, rural (% of rural population)       566 non-null    float64
 20  People using at least basic drinking water services, urban (% of urban population)       566 non-null    float64
 21  People using at least basic sanitation services (% of population)                        588 non-null    float64
 22  People using at least basic sanitation services, rural (% of rural population)           566 non-null    float64
 23  People using at least basic sanitation services, urban  (% of urban population)          566 non-null    float64
 24  latitude                                                                                 594 non-null    float64
 25  longitude                                                                                594 non-null    float64
 26  geometry                                                                                 594 non-null    object
dtypes: float64(23), int64(1), object(3)
memory usage: 125.4+ KB

In [8]:
# Dataset statistics 
df.describe()

,Year,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Use of insecticide-treated bed nets (% of under-5 population),Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women),People using safely managed drinking water services (% of population),"People using safely managed drinking water services, rural (% of rural population)","People using safely managed drinking water services, urban (% of urban population)",People using safely managed sanitation services (% of population),"People using safely managed sanitation services, rural (% of rural population)","People using safely managed sanitation services, urban (% of urban population)",Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude
count,594.000000,550.000000,5.500000e+02,132.000000,122.000000,106.000000,99.000000,88.000000,176.000000,132.000000,110.000000,132.000000,588.000000,588.000000,588.000000,588.000000,588.000000,566.000000,566.000000,588.000000,566.000000,566.000000,594.000000,594.000000
mean,2012.000000,190.087491,1.068330e+06,42.530303,30.201639,15.013958,33.478990,12.470568,51.549545,28.768939,14.361727,32.174621,56.836650,1.389371,43.164116,3.523061,65.994915,51.449576,84.268498,39.469796,28.077208,48.088375,2.828796,17.342546
std,3.164943,163.054527,2.192802e+06,20.157059,18.903198,12.389166,26.678321,10.078371,24.157416,18.631510,7.088038,21.693458,18.086328,1.199693,18.086118,1.456244,17.283361,18.927868,9.307285,26.304934,24.046725,21.802128,15.678226,20.041257
min,2007.000000,0.000000,0.000000e+00,1.000000,0.500000,0.000000,5.770000,0.930000,11.200000,6.370000,2.300000,7.950000,11.020000,-3.450000,9.860000,-4.650000,28.960000,17.050000,52.010000,4.990000,1.890000,12.580000,-30.559482,-24.013197
25%,2009.000000,30.857500,2.211750e+03,26.675000,17.275000,5.763285,8.975000,4.185000,34.125000,16.532500,7.200000,18.262500,43.057500,0.410000,28.795000,2.512500,52.375000,37.075000,78.080000,18.197500,8.842500,30.775000,-6.369028,0.824782
50%,2012.000000,174.775000,1.130260e+05,42.900000,29.300000,11.500000,28.390000,10.675000,51.365000,25.410000,15.950000,22.755000,58.445000,1.675000,41.560000,3.730000,64.470000,50.435000,85.420000,32.555000,18.815000,44.695000,6.744051,18.611308
75%,2015.000000,347.637500,1.154808e+06,56.325000,42.625000,21.850000,43.890000,16.887500,70.747500,35.725000,20.315000,39.225000,71.205000,2.130000,56.945000,4.450000,79.165000,62.245000,90.082500,54.810000,38.082500,58.845000,12.862807,31.465866
max,2017.000000,585.540000,1.682113e+07,95.500000,76.900000,59.600000,92.660000,39.930000,89.540000,78.120000,25.540000,88.290000,90.140000,7.090000,88.980000,7.400000,99.870000,99.830000,99.920000,100.000000,95.180000,98.300000,33.886917,57.552152

In [9]:
# Missing values per column
df.isnull().sum()

Country Name                                                                                 0
Year                                                                                         0
Country Code                                                                                 0
Incidence of malaria (per 1,000 population at risk)                                         44
Malaria cases reported                                                                      44
Use of insecticide-treated bed nets (% of under-5 population)                              462
Children with fever receiving antimalarial drugs (% of children under age 5 with fever)    472
Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)      488
People using safely managed drinking water services (% of population)                      495
People using safely managed drinking water services, rural (% of rural population)         506
People using safely managed drinking water services, urban (% of urban population)         418
People using safely managed sanitation services (% of population)                          462
People using safely managed sanitation services, rural (% of rural population)             484
People using safely managed sanitation services, urban  (% of urban population)            462
Rural population (% of total population)                                                     6
Rural population growth (annual %)                                                           6
Urban population (% of total population)                                                     6
Urban population growth (annual %)                                                           6
People using at least basic drinking water services (% of population)                        6
People using at least basic drinking water services, rural (% of rural population)          28
People using at least basic drinking water services, urban (% of urban population)          28
People using at least basic sanitation services (% of population)                            6
People using at least basic sanitation services, rural (% of rural population)              28
People using at least basic sanitation services, urban  (% of urban population)             28
latitude                                                                                     0
longitude                                                                                    0
geometry                                                                                     0
dtype: int64

In [10]:
#Check for duplicated rows
df.duplicated().any()

False

## Data Cleaning

In [11]:
# Replace missing values with np.NaN
df = df.replace('nan', np.NaN)

In [42]:
# Remove rows where Malaria cases reported are missing 
clean_data = df[df['Malaria cases reported'].notna()]
no_rows = clean_data.shape[0]
no_cols = clean_data.shape[1]
print(f'Number of rows = {no_rows}\nNumber of cols = {no_cols}')

Number of rows = 550
Number of cols = 27

In [48]:
# Get cols with more & less than 50% of its data is missing 

# Build list of missing values 
missing_vals = list(clean_data.isna().sum())
# List all columns 
cols = clean_data.columns

cols_less_than_50_missing = []
cols_more_than_50_missing = []

for col, m_vals in zip(cols, missing_vals):
    if m_vals >= (no_rows//2):
        cols_more_than_50_missing.append(col)
    elif m_vals > 0:
        cols_less_than_50_missing.append(col)

In [50]:
# Replace the missing values with the mean for columns with less than 50% of the data missing 
for col in cols_less_than_50_missing:
    clean_data[col] = clean_data.groupby('Country Name')[col].apply(lambda x:x.fillna(x.mean()))

<ipython-input-50-d0af5a343841>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data[col] = clean_data.groupby('Country Name')[col].apply(lambda x:x.fillna(x.mean()))

In [58]:
# # Remove columns with more than 50% of the data missing 
clean_data = clean_data.drop(cols_more_than_50_missing, axis=1)

KeyError: "['Use of insecticide-treated bed nets (% of under-5 population)'\n 'Children with fever receiving antimalarial drugs (% of children under age 5 with fever)'\n 'Intermittent preventive treatment (IPT) of malaria in pregnancy (% of pregnant women)'\n 'People using safely managed drinking water services (% of population)'\n 'People using safely managed drinking water services, rural (% of rural population)'\n 'People using safely managed drinking water services, urban (% of urban population)'\n 'People using safely managed sanitation services (% of population)'\n 'People using safely managed sanitation services, rural (% of rural population)'\n 'People using safely managed sanitation services, urban  (% of urban population)'] not found in axis"

In [59]:
clean_data.head()

,Country Name,Year,Country Code,"Incidence of malaria (per 1,000 population at risk)",Malaria cases reported,Rural population (% of total population),Rural population growth (annual %),Urban population (% of total population),Urban population growth (annual %),People using at least basic drinking water services (% of population),"People using at least basic drinking water services, rural (% of rural population)","People using at least basic drinking water services, urban (% of urban population)",People using at least basic sanitation services (% of population),"People using at least basic sanitation services, rural (% of rural population)","People using at least basic sanitation services, urban (% of urban population)",latitude,longitude,geometry
0,Algeria,2007,DZA,0.01,26.0,34.65,-0.60,65.35,2.71,91.68,85.83,94.78,85.85,76.94,90.57,28.033886,1.659626,POINT (28.033886 1.659626)
1,Angola,2007,AGO,286.72,1533485.0,42.48,1.91,57.52,5.01,47.96,23.77,65.83,37.26,14.00,54.44,-11.202692,17.873887,POINT (-11.202692 17.873887)
2,Benin,2007,BEN,480.24,0.0,58.44,1.99,41.56,4.09,63.78,54.92,76.24,11.80,4.29,22.36,9.307690,2.315834,POINT (9.307689999999999 2.315834)
3,Botswana,2007,BWA,1.03,390.0,42.07,-1.44,57.93,4.80,78.89,57.60,94.35,61.60,39.99,77.30,-22.328474,24.684866,POINT (-22.328474 24.684866)
4,Burkina Faso,2007,BFA,503.80,44246.0,77.00,2.16,23.00,5.91,52.27,45.13,76.15,15.60,6.38,46.49,12.238333,-1.561593,POINT (12.238333 -1.561593)

In [100]:
# Convert 'Malaria cases reported' data type to int64
clean_data['Malaria cases reported'] = clean_data['Malaria cases reported'].astype('int')

<ipython-input-100-c47033a9a2f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data['Malaria cases reported'] = clean_data['Malaria cases reported'].astype('int')

In [62]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 550 entries, 0 to 593
Data columns (total 18 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Country Name                                                                        550 non-null    object
 1   Year                                                                                550 non-null    int64
 2   Country Code                                                                        550 non-null    object
 3   Incidence of malaria (per 1,000 population at risk)                                 550 non-null    float64
 4   Malaria cases reported                                                              550 non-null    float64
 5   Rural population (% of total population)                                            550 non-null    float64
 6   Rural population growth (annual %)                                                  550 non-null    float64
 7   Urban population (% of total population)                                            550 non-null    float64
 8   Urban population growth (annual %)                                                  550 non-null    float64
 9   People using at least basic drinking water services (% of population)               550 non-null    float64
 10  People using at least basic drinking water services, rural (% of rural population)  539 non-null    float64
 11  People using at least basic drinking water services, urban (% of urban population)  539 non-null    float64
 12  People using at least basic sanitation services (% of population)                   550 non-null    float64
 13  People using at least basic sanitation services, rural (% of rural population)      539 non-null    float64
 14  People using at least basic sanitation services, urban  (% of urban population)     539 non-null    float64
 15  latitude                                                                            550 non-null    float64
 16  longitude                                                                           550 non-null    float64
 17  geometry                                                                            550 non-null    object
dtypes: float64(14), int64(1), object(3)
memory usage: 81.6+ KB

# Data Analysis and Visualization

In [ ]:
# Trend of Malaria cases in all Africa countries each year

## Machine Learning model to expect the number of malaria cases given all other variables

In [ ]:
# Corr map